name: CI in Docker on CentOS

on:
- push
- pull_request

jobs:
  build:

    name: Build on CentOS 7
    runs-on: ubuntu-18.04
    container: centos:7

    steps:
    - uses: actions/checkout@v2
    - name: Get basic dependencies
      run: |
        yum update -y
        yum install -y wget git tcsh
        yum groupinstall -y 'Development Tools'
    - name: Install more recent CMake
      run: |
        wget https://github.com/Kitware/CMake/releases/download/v3.16.6/cmake-3.16.6-Linux-x86_64.sh
        chmod u+x cmake-3.16.6-Linux-x86_64.sh
        ./cmake-3.16.6-Linux-x86_64.sh --prefix=/usr/local --exclude-subdir --skip-license
    - name: Install conda
      run: |
        wget https://repo.anaconda.com/archive/Anaconda3-2020.02-Linux-x86_64.sh
        chmod u+x Anaconda3-2020.02-Linux-x86_64.sh
        ./Anaconda3-2020.02-Linux-x86_64.sh -b
    - name: Set variables with conda executable and activate
      run: |
        echo "::set-env name=CONDA::/github/home/anaconda3/bin/conda"
        echo "::set-env name=CONDA_ACTIVATE::/github/home/anaconda3/bin/activate"
    - name: Create installation directory
      run: mkdir install
    - name: Set number of cores for compilation
      run: |
        echo "::set-env name=MAKEFLAGS::-j$(nproc)"
    - name: Get and compile dependencies
      run: tcsh -xe ./dependencies.sh $HOME/install
    - name: Get GRASS GIS compile time yum dependencies
      run: |
        yum install -y zlib-devel gcc-c++ \
             mesa-libGL-devel mesa-libGLU-devel \
             libXmu-devel libX11-devel fftw-devel \
             lesstif-devel wxGTK-devel \
             libxml2 geos geos-devel \
             netcdf netcdf-devel \
             cairo-devel \
             libpng-devel
    - name: Get GRASS GIS compile time conda dependencies
      run: |
        source $CONDA_ACTIVATE
        $CONDA install -y -c anaconda numpy wxpython
    - name: Set LD_LIBRARY_PATH for GRASS GIS compilation
      run: |
        echo "::set-env name=LD_LIBRARY_PATH::$HOME/install/lib"
    - name: Get and compile GRASS GIS
      run: |
        source $CONDA_ACTIVATE
        tcsh -xe ./compile.sh $HOME/install
    - name: Add the bin directory to PATH
      run: |
        echo "::add-path::$HOME/install/bin"
    - name: Basic test of GRASS GIS
      run: |
        source $CONDA_ACTIVATE
        tcsh -xe ./test.sh
    - name: Thorough test of GRASS GIS
      run: |
        source $CONDA_ACTIVATE
        tcsh -xe ./test-thorough.sh
